<div id="<%= dom_id friend %>">
  <p>
    <strong>First name:</strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>

</div>

<!-- <div id="<%= dom_id friend %>">
  <table class="table">
  <thead class="thead-dark">
    <tr>
    <th>First name:</th>
    <%= friend.first_name %>
    <th>Last name:</th>
    <%= friend.last_name %>
    <th>Email:</th>
    <%= friend.email %>
    <th>Phone:</th>
    <%= friend.phone %>
    <th>Twitter:</th>
    <%= friend.twitter %>
    <th colspan="3"></th>
  </tr>
</thead>
</table>
</div>
 -->